<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div class="center">
      <div id="error" style="color:red;padding:10px;margin-bottom:-30px"></div>
      <h1>SignUp</h1>
      <form method="post" id="signup-form" >
        <div class="txt_field">
          <input type="text" required name="name">
          <span></span>
          <label>Name</label>
        </div>
        <div class="txt_field">
          <input type="email" required name="email">
          <span></span>
          <label>Email address</label>
        </div>
        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Password</label>
        </div>
        <!-- <div class="pass">Forgot Password?</div> -->
        <input type="submit" value="SignUp">
        <div class="login_link">
          Already a member? <a href="../login/login.html">Login</a>
        </div>
      </form>
    </div>
  
    <script src="./signup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
  </body>
  
</html>
